nav{
    background: peachpuff;
    height: 4rem;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}
a:hover{
    color:antiquewhite;
}
body{
    background: powderblue;
}
h1{
    font-size: larger;
    letter-spacing: 5px;
}
ul{
    padding: 1rem;

}
li{
    margin: 1rem 1rem;
    font-size: medium;

}