*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    background: peachpuff;
    height: 4rem;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    box-shadow: 3px 3px 10px burlywood;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:darkred;
}
body{
    background: powderblue;
    margin-left: 2rem;
}
h1{
    font-size: 2rem;
    letter-spacing: 3px;
}
ul{
 list-style-type: georgian;
}
li{
    margin: 1rem 1rem;
    font-size: medium;
    
}